@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html, body { height: 100%; width: 100%; padding: 0; margin: 0; background-color: #000; }
body { overflow: hidden; font-family: Montserrat Alternates; color: #fdfff5; fill: #fdfff5 }

#navbar, #anchor {
    height: 3vw;
    width: 100%;
    position: absolute;
    bottom: 0;
}
#anchor {
    background: none;
}
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
nav a {
    text-decoration: none;
    color: inherit;
    font-family: inherit;
    font-size: 1.2vw;
}
nav svg {
    height: 2vw;
}
nav svg path {
    fill: inherit;
}

.firstScreen {
    height: 100vh; width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.bgImg {
    height: 100%; width: 100%;
    pointer-events: none;

    background: url(images/shanti.jpg) center center no-repeat;
    background-size: cover;
    filter: blur(3px);
}
.tinting {
    height: 100%; width: 100%;
    position: absolute;
    top: 0; left: 0;
    background: #00000052;
}
.about {
    width: 100%;
    margin: 0 10px 0 10px;
    position: absolute;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
}
.item1 {
    grid-column: 1 / -1;
    font-size: 4vw;
}
.item2 {
    text-align: end;
}
.item2, .item4 {
    font-size: 4vw;
}
.item3 {
    font-family: Montserrat;
    font-size: 1.1vw;
}
.item4 {
    text-align: start;
}
.item5 {
    grid-column: 1 / -1;
    font-size: 4vw;
}

#assortmentMenu {
    height: 100vh; width: 100%;
    background: #111;
}

#about {
    height: 100vh; width: 100%;
    background: #222;
}

footer {
    height: 30%; width: 100%;
    background: #000;
}

#loadingScreen {
    height: 100vh; width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    background: #942e19;
    transition: all .5s;
}
.shanty {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.shanty svg {
    fill: inherit;
}
.loadingAddress {
    color: inherit;
    margin-top: 5vw;
    font-family: inherit;
    text-decoration: none;
    font-size: 1.3vw;
}