.transition.first {
    height: 50vh; width: 100%;
    background: #000;
}
.transition.last {
    width: 100%;
    position: relative;
    background: #e6e2d7;
}

#stories {
    height: 110vh; width: 100%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    background: #000;
}

#storiesScreen {
    height: 80vh; width: 20vw;
    display: flex;
    justify-content: center;
    transition: all .3s;
}

#storiesPlayer {
    height: 100%; width: 100%;
    display: flex;
    object-fit: cover;
    border-radius: 25px;
    transition: all .3s;
}

/* ----- PROGRESS BAR ----- */

#progressContainer {
    display: none;
    position: fixed;
    bottom: 0;
    width: 22vw;
    height: 5px;
    border-radius: 25px;
    background-color: #ffffff52;
}
#progressBar {
    height: 100%; width: 0;
    border-radius: inherit;

    background-color: #942e19;
    transition: all .3s;
}

/* ----- HINT ----- */
.hint768px { display: none; }
#storiesHint {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    position: absolute;
    font-family: Montserrat;
    right: 0;
}

@media (max-width: 768px) {  
    .transition {
        height: 30vh; width: 100%;
        background: #000;
    }

    #storiesScreen {
        height: 80vh; width: 80vw;
    }

    #progressContainer {
        width: 90vw;
        bottom: 10px;
    }
    .hint768px { display: flex; }
    .hintPc { display: none; }
    #storiesHint {
        padding: 10px;
        background: #00000052;
        border-radius: 25px;
        right: auto;
    }
}